* {
  margin: auto;
}

body {
  margin: 5vh;
}

.error {
  background-color: rgb(255, 109, 109);
}

p {
  display: inline-block;
}
button {
  border: 1px solid black;
  background-color: aquamarine;
}
.dogs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dog-image {
  max-width: 20rem;
}
